{% load static %}
<head>
<title>Mobile Zone List</title>
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />
<meta http-equiv="refresh" content="15">
<link href="{% static 'mobile.css' %}" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="container">
{% if zone_list %}
  {% for zone in zone_list %}
  <a href="/m/mobile_zone_control/{{ zone.zoneId }}" 
   {% if zone.currentState == "ON" %}
    class="on_button" >
      {% if active_request %}
        {% for request in active_request %}
          {{ request.rpiGpio.zone.displayName }} - {{ request.remaining }} mins
        {% endfor %}
      {% endif %}
   {% else %}
    class="off_button" >   {{ zone.displayName }}
   {% endif %}
</a><br>
 {% endfor %}
{% else %}
  No Zone Info Available<br>
{% endif %}
</div>
</body>

