{% load static %}
<head>
<title>Mobile Zone Control</title>
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />
<link href="{% static 'mobile.css' %}" rel="stylesheet" type="text/css" />
<meta http-equiv="refresh" content="15">
</head>
	<body>
	<div id="content">
		<div id="zone_title">{{ zone.displayName }}</div>
			<form action="/zone_toggle/{{ zone.zoneId }}/" method="post">
			  {% csrf_token %}
			  {% if zone.currentState == "OFF" %}
				<div id="duration_title"><label for="duration">Minutes:&nbsp;</label><input type="number" name="duration" id="duration" min="1" max="90" value="15"></div>  
				<a href="#" class="off_button_big" onclick="document.forms[0].submit(); return false;">Turn ON</a><br>
			  {% else %}
				<a href="#" class="on_button_big" onclick="document.forms[0].submit(); return false;" >Turn OFF</a><br>

				{% if active_request %}
				  {% for request in active_request %}
					{% if request.rpiGpio.zone.zoneId == zone.zoneId %}
					  ON: {{ request.onTime }}<br>
					  OFF: {{ request.offTime }}<br>
					  Duration: {{ request.duration }} mins<br>
					  Remaining: {{ request.remaining }} mins<br>
					{% endif %}
				  {% endfor %}
				{% endif %}
			  {% endif %}
			</form>
		<div id="button"><a href="/m" class="button" >Back</a></div>
	</div>
</body>
