@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	color:#232323;
	padding-top: 0px;
	padding-right: 0;
	padding-bottom: 0;
	padding-left: 0;
	background-color:#ffffff;
	background-attachment:scroll;
	background-repeat: repeat-x;
	background-position:top;
}
div, h1, h2, h3, h4, p, form, label, input, textarea, img, span{
	margin:0; padding:0;
}

ul{
	margin:0; 
	padding:0; 
	list-style-type:none;
	font-size:0;
	line-height:0;
}


.spacer{
	clear:both; 
	font-size:0; 
	line-height:0;
}

img
{
border:none;
}

#header
{
margin:0 auto;
padding:0px;
width:1000px;
height:145px;
background:#272727 url(images/image_01.jpg) 0 0 no-repeat;;
}

#search
{
margin:0 auto;
width:1000px;
height:100px;
}
#search form
{
float:right;
padding-top:43px;
padding-right:90px;
height:23px;
width:150px;
}
#search form input.textbox
{
width:95px;
height:23px;
font:normal 11px/16px Arial, Helvetica, sans-serif;
color:#333333;
padding-left:3px;
padding-top:4px;
border:none;
}
#search form input.search
{
width:35px;
height:23px;
border:none;
}
#navigation
{
margin:0 auto;
width:800px;
height:40px;
}
#navigation ul
{
list-style:none;
}
#navigation ul li
{
font:bold 11px/40px Arial, Helvetica, sans-serif;
color:#000000;
display:block;
float:left;
text-align:left;
padding:1px 15px;
}
#navigation ul li a
{
text-decoration:none;
display:block;
color:#000000;
}
#navigation ul li a:hover
{
text-decoration:underline;
display:block;
color:#CC0000;
}

#main_image
{
margin:0 auto;
padding:0px;
width:808px;
height:80px;
background:url(images/image_03.jpg) 0 0 no-repeat;;
}

#content
{
margin:0 auto;
padding:9px;
width:790px;
}
h3
{
font:bold 11px/22px Arial, Helvetica, sans-serif;
color:#96f01d;
}
h2
{
font:bold 12px/28px Arial, Helvetica, sans-serif;
color:#6faa1a;
}
h1
{
font:bold 16px/43px Arial, Helvetica, sans-serif;
color:#e47b0d;
padding-left:15px;
}
p
{
font:normal 11px/16px Arial, Helvetica, sans-serif;
color:#333333;
}


#content-left
{
float:left;
padding-right:25px;
width:500px;
border-right:#CCCCCC 2px solid;
}
#content-right
{
float:right;
padding:0px;
width:255px;
}
#image
{
width:123px;
height:123px;
float:left;
padding:0 5px 5px 0;
background:url(images/image_11.jpg) 0 0 no-repeat;
}
#read_more
{
width:82px;
height:40px;
float:right;
}
#latest_news
{
width:223px;
height:31px;
background:url(images/image_07.jpg) 0 0 no-repeat;
font:bold 12px/31px Arial, Helvetica, sans-serif;
color:#333333;
padding-left:10px;
}


#todays_schedule
{
width:223px;
height:31px;
background:url(images/image_07.jpg) 0 0 no-repeat;
font:bold 12px/31px Arial, Helvetica, sans-serif;
color:#333333;
padding-left:10px;
}

#zone_status
{
width:223px;
height:31px;
background:url(images/image_07.jpg) 0 0 no-repeat;
font:bold 12px/31px Arial, Helvetica, sans-serif;
color:#333333;
padding-left:10px;
}
#news-image
{
width:234px;
height:71px;
}
#news-con
{
width:234px;
padding:5px 0;
}
#bottom
{
margin:0 auto;
background:#383838;
width:1000px;
padding:10px 0px;
}
#bottom_con
{
width:300px;
border-right:#666666 1px solid;
font:normal 11px/16px Arial, Helvetica, sans-serif;
color:#FFFFFF;
}
.more
{
font:normal 11px/16px Arial, Helvetica, sans-serif;
color:#ffc600;
text-align:right;
width:300px;
}
.more a
{
text-decoration:none;
color:#ffc600;
}
.more a:hover
{
text-decoration:underline;
color:#ffc600;
}

/* footer */

#footer_bottom
{
margin:0 auto;
padding:0px;
background:#292929;
width:1000px;
height:30px;
border-top:#FFFFFF 1px solid;
}
#footer_bottom a
{
text-decoration:none;
color:#02c4c6;
}
#footer_bottom a:hover
{
text-decoration:underline;
color:#ffc600;
}
#footer_bottom-content
{
float:right;
padding:0px;
width:400px;
height:30px;
font:normal 11px/30px Arial, Helvetica, sans-serif;
color:#FFFFFF;
text-align:right;
padding-right:5px;
}
#footer_bottom-content-left
{
float:left;
padding:0px;
width:400px;
height:30px;
font:normal 11px/30px Arial, Helvetica, sans-serif;
color:#FFFFFF;
padding-left:5px;
}

#todays_schedule_table th, td
{
font:bold 11px/20px Arial, Helvetica, sans-serif;
color:#000000;

padding:1px 15px;
}

#zone_status_table th, td
{
font:bold 11px/20px Arial, Helvetica, sans-serif;
color:#000000;

padding:1px 15px;
}

#schedule_table th, td
{
font:bold 11px/20px Arial, Helvetica, sans-serif;
color:#000000;

padding:1px 15px;
}

#schedule_table th
{
text-align:left;
background-color:#794203;
color:#8CB318;
}

#schedule_warning
{
font:bold 11px/20px Arial, Helvetica, sans-serif;
color:red;
}


#zone_title {
	font-family:arial;
	font-size:25px;
	font-weight:bold;
	padding:5px 10px 5px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
}
#duration_title {
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:5px 15px 5px 10px;
	text-decoration:none;
	text-shadow:1px 1px 0px #aade7c;
}

.on_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-align:left;
	text-shadow:1px 1px 0px #aade7c;
	margin-bottom:10px;
	width:280px;
}.on_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.on_button:active {
	position:relative;
	top:1px;
}
.off_button {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 10px;
	text-decoration:none;
	text-align:left;
	text-shadow:1px 1px 0px #b23e35;
	margin-bottom:10px;
	width:280px;
}.off_button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.off_button:active {
	position:relative;
	top:1px;
}
.on_button_big {
	-moz-box-shadow:inset 0px 1px 0px 0px #caefab;
	-webkit-box-shadow:inset 0px 1px 0px 0px #caefab;
	box-shadow:inset 0px 1px 0px 0px #caefab;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811) );
	background:-moz-linear-gradient( center top, #77d42a 5%, #5cb811 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811');
	background-color:#77d42a;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	border:1px solid #268a16;
	display:inline-block;
	color:#306108;
	font-family:arial;
	font-size:30px;
	font-weight:bold;
	padding:15px 10px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #aade7c;
	margin-bottom:10px;
	height:40px;
	width:200px;
}.on_button_big:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a) );
	background:-moz-linear-gradient( center top, #5cb811 5%, #77d42a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a');
	background-color:#5cb811;
}.on_button_big:active {
	position:relative;
	top:1px;
}
.off_button_big {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	border-radius:50px;
	border:1px solid #d83526;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:30px;
	font-weight:bold;
	padding:15px 10px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #b23e35;
	margin-bottom:10px;
	height:40px;
	width:200px;
}.off_button_big:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}.off_button_big:active {
	position:relative;
	top:1px;
}

.button {
   border-top: 1px solid #f7f797;
   background: #81d665;
   background: -webkit-gradient(linear, left top, left bottom, from(#439c3e), to(#81d665));
   background: -webkit-linear-gradient(top, #439c3e, #81d665);
   background: -moz-linear-gradient(top, #439c3e, #81d665);
   background: -ms-linear-gradient(top, #439c3e, #81d665);
   background: -o-linear-gradient(top, #439c3e, #81d665);
   padding: 10px 20px;
   -webkit-border-radius: 24px;
   -moz-border-radius: 24px;
   border-radius: 24px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: #000000;
   font-size: 17px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   width:150px;
   }
.button:hover {
   border-top-color: #2c7828;
   background: #2c7828;
   color: #ccc;
   }
.button:active {
   border-top-color: #205c1b;
   background: #205c1b;
   }

input {
    border: 5px solid white; 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    padding: 15px 0px 5px 5px;
    background: rgba(255,255,255,0.5);
    margin: 0 0 10px 0;
    width: 150px;
}

