{% load static compress sekizai_tags sass_tags settings_tags %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title> Sprinkle Smart</title>
  {% compress css %}

  <link type="text/x-scss" href="{% sass_src "sass/main.scss" %}" rel="stylesheet" />
  
  {% endcompress %}

  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/icon-font.css' %}">
  <link rel="apple-touch-icon" sizes="57x57" href="{% static 'img/apple-icon-57x57.png' %}">
  <link rel="apple-touch-icon" sizes="60x60" href="{% static 'img/apple-icon-60x60.png' %}">
  <link rel="apple-touch-icon" sizes="72x72" href="{% static 'img/apple-icon-72x72.png' %}">
  <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/apple-icon-76x76.png' %}">
  <link rel="apple-touch-icon" sizes="114x114" href="{% static 'img/apple-icon-114x114.png' %}">
  <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/apple-icon-120x120.png' %}">
  <link rel="apple-touch-icon" sizes="144x144" href="{% static 'img/apple-icon-144x144.png' %}">
  <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/apple-icon-152x152.png' %}">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/apple-icon-180x180.png' %}">
  <link rel="icon" type="image/png" sizes="192x192"  href="{% static 'img/android-icon-192x192.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="96x96" href="{% static 'img/favicon-96x96.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'img/manifest.json' %}">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{% static 'img/ms-icon-144x144.png' %}">
  <meta name="theme-color" content="#ffffff">

  <script  src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
   </script>
   
   <script src="{% static 'js/stomp.min.js' %}"></script>
   {% compress js %}
    <script src="{% static "js/utility.js" %}"></script>
    <script src="{% static "js/irrigation.js" %}"></script>
    <script src="{% static "js/ws.js" %}"></script>
  {% endcompress %}
  {% render_block "js" %}
  <script>
    var rabbitmq_host = "{% rabbitmq_host %}";
    var rabbitmq_username = "{% rabbitmq_username %}";
    var rabbitmq_password = "{% rabbitmq_password %}";
    var rabbitmq_ws_port = "{% rabbitmq_ws_port %}";
</script>
  <script>var irrigation_system={{ irrigation_system|safe }};</script>
  <script>var zone_list={{ zone_list|safe }};</script>
  <script>var todays_requests={{ todays_requests|safe }};</script>
  <script>var current_weather_conditions={{ current_weather_conditions|safe }};</script>
  <script>var system_enabled_zone_data={{ system_enabled_zone_data|safe }};</script>
  <script>var valves_enabled_zone_data={{ valves_enabled_zone_data|safe }};</script>
</head>
<body>
  <div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="/" class="navigation__link">Home</a></li>
            <li class="navigation__item"><a href="/manually_schedule/" class="navigation__link">Schedule</a></li>
            <li class="navigation__item"><a href="/admin/" class="navigation__link">Admin</a></li>
            <li class="navigation__item"><a href="/m" class="navigation__link">Mobile</a></li>
            </ul>
    </nav>
  </div>

  <header class="header">
      <div class="header__text-box">
          <h1 class="heading-primary">
              <span class="heading-primary--main">Sprinklesmart</span>
          </h1>
      </div>
      <div class="system-buttons">
        <div class="system-button">
          <span class="btn btn-toggle-zone system-enabled-zone"></span>
        </div>
        <div class="system-button">
          <span class="btn btn-toggle-system-mode"></span>
        </div>
        <div class="system-button">
          <span class="btn btn-toggle-zone valves-enabled-zone"></span>
        </div>
      </div>
      <div class="row weather-conditions">
        <h3 class="heading-tertiary u-margin-bottom-small">Current Weather Conditions</h3> 
        <p class="paragraph temperature">
          As of <span class="condition-date-time"></span>&nbsp;
          <span class="condition-code-description"></span>&nbsp;and&nbsp;
          <span class="condition-temperature"></span>&deg;<span class="condition-temperature-uom"></span>
        </p>
          <h3 class="heading-tertiary u-margin-bottom-small">
            <p class="condition-raining paragraph"></p>
          </h3>
        
      </div>
  </header>
  <main>
    <!-- start of auto mode content-->
    <section class="section-automatic-mode">
      <table class="table table-condensed table-bordered requests-table">
        <thead>
            <tr>
                <th>Zone</th>
                <th>Location</th>
                <th>Start Time</th>
                <th>End Time</th>
                <th>Duration</th>
                <th>Remaining</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
          <!-- table rows are dynamically inserted via JS-->  
        </tbody>
      </table>
    </section>
    <!-- end of auto mode content-->
    <!-- start of manual mode content-->
    <section class="section-manual-mode">
      <table class="table table-condensed table-bordered zone-table">
        <thead>
            <tr>
                <th>Zone</th>
                <th>Location</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
          <!-- table rows are dynamically inserted via JS-->
        </tbody>
      </table>
    </section>
    <!-- end of manual mode content-->

    <div class="popup" id="po">
      <div class="popup__content">
          <div class="popup__right">
                <span class="popup__close">&times;</span>
              <span class="heading-tertiary u-margin-bottom-small popup__text"></span>
          </div>
      </div>
    </div>
    <div class="popup-confirm" id="po">
      <div class="content">
        <span class="heading-tertiary u-margin-bottom-small popup__text popup__confirm"></span>
        <span class="btn btn--green btn-confirm btn-confirm-yes">Yes</span>
        <span class="btn btn--red btn-confirm btn-confirm-no">No</span>
    </div>
    </div>
  </main>
</body>
