{% load static compress sass_tags %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- <meta http-equiv="refresh" content="15"> -->
  <title> Sprinkle Smart</title>
  <!--<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">-->
  {% compress css %}

  <link type="text/x-scss" href="{% sass_src "sass/main.scss" %}" rel="stylesheet" />

  {% endcompress %}

  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/icon-font.css' %}">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png">
</head>
<body>
  <div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="/" class="navigation__link">Home</a></li>
            <li class="navigation__item"><a href="/manually_schedule/" class="navigation__link">Schedule</a></li>
            <li class="navigation__item"><a href="/admin/" class="navigation__link">Admin</a></li>
            <li class="navigation__item"><a href="/m" class="navigation__link">Mobile</a></li>
            </ul>
    </nav>
  </div>

  <header class="header">
      <div class="header__text-box">
          <h1 class="heading-primary">
              <span class="heading-primary--main">Sprinklesmart</span>
          </h1>
          <div class="row">
              <div class="col-1-of-2">
                {% if system_enabled == True %}
                  <a href="/disable_system" class="btn btn--green">System Enabled</a>
                {% else %}
                  <a href="/enable_system" class="btn btn--red">System Disabled</a>
                {% endif %}
              </div>
              <div class="col-2-of-2">
                {% if twentyfour_vac_enabled == True %}
                  <a href="/disable_24VAC" class="btn btn--green">24VAC Enabled</a>
                {% else %}
                  <a href="/enble_24VAC" class="btn btn--red">24VAC Disabled</a>
                {% endif %}
              </div>
          </div>
          <div class="row">
            <h3 class="heading-tertiary u-margin-bottom-small">Current Weather Conditions</h3> 
            <p class="paragraph">
              As of {{ current_weather.conditionDateTime }} {{ current_weather.conditionCode.description }} and {{ current_weather.temperature }}&deg;
          </p>
          {% if current_weather %}
            <h3 class="heading-tertiary u-margin-bottom-small"></h3>
              {% if current_weather.conditionCode.IsRaining %}
                <p class="paragraph">It is raining outside</p>
              {% else %}
                <p class="paragraph">It is not raining outside</p>
              {% endif %}
          {% endif %}
          </div>
          <!---->

      </div>
  </header>
  <main>
      <section class="section-status">
        <div class="row">
                  <p class="paragraph">
                      As of {{ current_weather.conditionDateTime }} {{ current_weather.conditionCode.description }} and {{ current_weather.temperature }}&deg;
                  </p>
                  {% if current_weather %}
                    <h3 class="heading-tertiary u-margin-bottom-small"></h3>
                      {% if current_weather.conditionCode.IsRaining %}
                        <p class="paragraph">It is raining outside</p>
                      {% else %}
                        <p class="paragraph">It is not raining outside</p>
                      {% endif %}
                  {% endif %}
          </div>
        
        </div>
    </section>

    <div id="content">
        
          

        <div id="todays_schedule">Status</div>
            
<div id="todays_schedule">Today's Schedule</div>
        <a href="/rpi_gpio_request_cancel_all" ><img src="{% static 'img/cancel_button.jpg' %}" alt="cancel all" /></a>
            {% if todays_requests %}
              {% for request in todays_requests %}
                
                  <a href="/zone_control/{{ request.rpiGpio.zone.zoneId }}" >{{ request.rpiGpio.zone.shortName }}</a>
                  {{ request.onTime }}
                  {{ request.offTime }}
                  {{ request.duration }}
                  {{ request.remaining }}
                  {% if request.rpiGpio.zone.is_on == True %}
                    <a href="/rpi_gpio_request_cancel/{{ request.id }}" ><img src="{% static 'img/cancel_button.jpg' %}" alt="cancel" /></a>
                  {% else %}
                    &nbsp;
                  {% endif %}  
              {% endfor %}
            {% else %}
              Nothing scheduled for today
            {% endif %}
    <div id="zone_status" valign="top">Zone Status</div>
         
            {% if zone_list %}
              {% for zone in zone_list %}
               <a href="/zone_control/{{ zone.zoneId }}" >{{ zone.displayName }}</a>
                  {% if zone.currentState == "ON" %}
                   <img src="{% static 'img/greenlight.jpg' %}" alt="ON" width=19 height=19 />
                  {% else %}
                   <img src="{% static 'img/redlight.jpg' %}" alt="OFF" width=15 height=15 />
                  {% endif %}
               
              {% endfor %}
            {% else %}
              No Zone Info Available
            {% endif %}
    </div>
  </main>
</body>
