{% load static compress sekizai_tags sass_tags settings_tags %}
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <!-- <meta http-equiv="refresh" content="15"> -->
  <title> Sprinkle Smart</title>
  <!--<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css">-->
  {% compress css %}

  <link type="text/x-scss" href="{% sass_src "sass/main.scss" %}" rel="stylesheet" />
  
  {% endcompress %}

  <link href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900" rel="stylesheet">

  <link rel="stylesheet" href="{% static 'css/icon-font.css' %}">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png">
  <script  src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous">
   </script>
   
   <script src="{% static 'js/stomp.min.js' %}"></script>
   {% compress js %}
    <script src="{% static "js/utility.js" %}"></script>
    <script src="{% static "js/irrigation.js" %}"></script>
    <script src="{% static "js/ws.js" %}"></script>
  {% endcompress %}
  {% render_block "js" %}
  <script>
    var rabbitmq_host = "{% rabbitmq_host %}";
    var rabbitmq_username = "{% rabbitmq_username %}";
    var rabbitmq_password = "{% rabbitmq_password %}";
    var rabbitmq_ws_port = "{% rabbitmq_ws_port %}";

    var rabbitmq_topic = '/topic/sprinklesmart';
</script>
  <script>var zone_list={{ zone_list|safe }};</script>
</head>
<body>
  <div class="navigation">
    <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

    <label for="navi-toggle" class="navigation__button">
        <span class="navigation__icon">&nbsp;</span>
    </label>

    <div class="navigation__background">&nbsp;</div>

    <nav class="navigation__nav">
        <ul class="navigation__list">
            <li class="navigation__item"><a href="/" class="navigation__link">Home</a></li>
            <li class="navigation__item"><a href="/manually_schedule/" class="navigation__link">Schedule</a></li>
            <li class="navigation__item"><a href="/admin/" class="navigation__link">Admin</a></li>
            <li class="navigation__item"><a href="/m" class="navigation__link">Mobile</a></li>
            </ul>
    </nav>
  </div>

  <header class="header">
      <div class="header__text-box">
          <h1 class="heading-primary">
              <span class="heading-primary--main">Sprinklesmart</span>
          </h1>
          <div class="row">
              <div class="col-1-of-2">
                <span class="btn btn-toggle-zone btn-system-enabled" data-zone-id={{ system_enabled_zone_data.zone_id }}>{{ system_enabled_zone_data.current_state }}</span>
              </div>
              <div class="col-2-of-2">
                <span class="btn btn-toggle-zone" data-zone-id={{ valves_enabled_zone_data.zone_id }}>{{ valves_enabled_zone_data.current_state }}</span>
              </div>
          </div>
          {% comment %}
          <script>update_toggle_zone_button({{ system_enabled_zone|safe }});</script>
          <script>update_toggle_zone_button({{ valves_enabled_zone|safe }});</script>
          {% endcomment %}
          <div class="row weather-conditions">
            <h3 class="heading-tertiary u-margin-bottom-small">Current Weather Conditions</h3> 
            <p class="paragraph temperature">
              As of {{ current_weather.conditionDateTime }} {{ current_weather.conditionCode.description }} and {{ current_weather.temperature|floatformat:0 }}&deg; F
          </p>
          {% if current_weather %}
            <h3 class="heading-tertiary u-margin-bottom-small">
              {% if current_weather.conditionCode.IsRaining %}
                <p class="paragraph">It is raining outside</p>
              {% else %}
                <p class="paragraph">It is not raining outside</p>
              {% endif %}
            </h3>
          {% endif %}
          </div>
          <!---->

      </div>
  </header>
  <main>
    <section class="section-status">
      <div class="row">
        <div class="col-1-of-2">
          <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Zone</th>
                    <th>Start Time</th>
                    <th>End Time</th>
                    <th>Duration</th>
                    <th>Remaining</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for request in todays_requests %}
                  <tr>    
                      <td><a href="/zone_control/{{ request.rpiGpio.zone.zoneId }}" >{{ request.rpiGpio.zone.displayName }}</a></td>
                      <td>{{ request.onTime }}</td>
                      <td>{{ request.offTime }}</td>
                      <td>{{ request.duration }}</td>
                      <td>{{ request.remaining }}</td>
                      <td>
                        {% if request.rpiGpio.zone.is_on == True %}
                          <a href="/rpi_gpio_request_cancel/{{ request.id }}" ><img src="{% static 'img/cancel_button.jpg' %}" alt="cancel" /></a>
                        {% else %}
                          &nbsp;
                        {% endif %}  
                      </td>
                  </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        <div class="col-2-of-2">
          <table class="table table-condensed table-bordered">
            <thead>
                <tr>
                    <th>Zone</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
              {% for zone in zone_list %}
                {% if zone.visible == 'True' %}
                  <tr>    
                    <td>
                      <span>{{ zone.zone_name }}</span>
                    </td>
                    <td>
                        <span class="btn btn-toggle-zone" data-zone-id={{zone.zone_id}}></span>
                    </td>
                  </tr>
                  {% endif %}
                {% endfor %}
            </tbody>
          </table>
        </div>
      </div>  
    </section>
    <div class="popup" id="po">
      <div class="popup__content">
          <div class="popup__right">
              <!--<a href="#" class="popup__close">&times;</a>-->
                <span class="popup__close">&times;</span>
              <span class="heading-tertiary u-margin-bottom-small popup__text"></span>
          </div>
      </div>
  </div>

  </main>
</body>
