{% load static %}
<head>
<meta content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;" name="viewport" />
<meta http-equiv="refresh" content="15">
<title> Sprinkle Smart</title>
<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div id="header">
    <div id="search" ></div>
        <div id="navigation">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/manually_schedule/">Schedule</a></li>
                <li><a href="/admin/">Admin</a></li>
                <li><a href="/m">Mobile</a></li>
            </ul>
        </div>
    </div>
    <div id="main_image"></div>
	{% include "mobile/mobile_zone_control.html" %}

</body>

