certifi==2017.11.5
chardet==3.0.4
daemon==1.1
Django==1.11.26
django-appconf==1.0.2
django-cachalot==1.5.0
django-compressor==2.2
django-extensions==1.9.7
django-filter==2.0.0
django-sass-processor==0.5.5
django-shell-plus==1.1.7
djangocms-admin-style==1.2.7
djangorestframework==3.9.4
enum==0.4.6
gunicorn==19.7.1
idna==2.6
libsass==0.13.4
Markdown==3.1.1
pkg-resources==0.0.0
python-dateutil==2.6.1
pytz==2017.3
rcssmin==1.0.6
requests==2.22.0
rjsmin==1.0.12
RPi.GPIO==0.6.3
six==1.11.0
typing==3.6.2
urllib3==1.24.2
