astroid==2.3.3
certifi==2019.3.9
chardet==3.0.4
colorama==0.4.1
Django==2.2.10
django-appconf==1.0.3
django-cachalot==2.1.0
django-classy-tags==1.0.0
django-compressor==2.3
django-debug-toolbar==2.1
django-extensions==2.2.5
django-filter==2.2.0
django-sass-processor==0.7.4
django-sekizai==0.10.0
django-shell-plus==1.1.7
djangocms-admin-style==1.4.0
djangorestframework==3.10.3
GPIOSimulator==0.1
gunicorn==20.0.4
httplib2==0.12.1
idna==2.8
isort==4.3.21
lazy-object-proxy==1.4.3
libsass==0.19.4
Markdown==3.1.1
mccabe==0.6.1
oauth2==1.9.0.post1
pika==0.13.1
pkg-resources==0.0.0
pylint==2.4.4
pylint-django==2.0.13
pylint-plugin-utils==0.6
python-dateutil==2.8.1
pytz==2019.3
rcssmin==1.0.6
requests==2.21.0
rjsmin==1.1.0
rope==0.16.0
six==1.13.0
sqlparse==0.3.0
typed-ast==1.4.1
typing==3.7.4.1
urllib3==1.24.2
wrapt==1.11.2
yahoo-weather==1.0.7
